# Development dependencies
setuptools
setuptools-scm

ipython
ipdb
pudb
pytest-watch

# Code quality
flake8
flake8-docstrings
flake8-quotes
flake8-bugbear
pyproject-flake8
black
isort
pep8-naming

# typing
mypy
types-setuptools

# Documentation
mkdocs

# Build
build
twine
